<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Liberi">
    <meta name="author" content="Pedro Caignet">

    <title>π‘§πΌπ‘¦π»π‘§π½ L i b e r i π‘§π»π‘¦πΌπ‘¦πΏ</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="assets/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="assets/general.css" rel="stylesheet">

   <!-- Owl-Carousel -->
    <link href="assets/custom.css" rel="stylesheet">
  <link href="assets/owl.carousel.css" rel="stylesheet">
    <link href="assets/owl.theme.css" rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet">
  <link href="assets/animate.css" rel="stylesheet">

  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="assets/magnific-popup.css">

  <script src="assets/javascripts/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>BABBY GAEMZ</h1>
    <% if user_signed_in? %>
      <li>
        <%= link_to('Babby dash', dash_dashboard_path) %>
      </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
      <li>
      <%= link_to "Register", new_user_registration_path %> for da babbies.
    </li>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
